<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/add-movie.css">
    <title>Add Movie</title>
</head>
<body>
    <div class="header row text-center">
        <div class="col-12">
            <h1 class="head text-center">
                Movies Collection
            </h1>
        </div>
        <div class="col-6 nav-item"><button type="button" class="btn "><a href="/">My Collection</a></button></div>
        <div class="col-6 nav-item "><button type="button" class="btn  active"><a href="#">Add Movie</a></button></div>
    </div>
    <div class="main row text-center">
        <div class="container search-box">
            <div class="row">
                <form id="searchForm" class="col-12  justify-content-center">
                    <input  class="form-control" type="text" id="searchText" value="" placeholder="Search with Title Here">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row" id="movies">
            </div>
        </div>
    </div>


     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="js/search.js"></script>
</body>
</html>